{% extends 'base_resume.html.twig' %}

{% block title %}Resume{% endblock %}

{% block body %}
    <section class="profile section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-fifths">
                    <h1 class="title is-size-1">Romain Norberg</h1>
                    <h2 class="subtitle">Web developer (Symfony, NodeJS, Python)</h2>

                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Php</span>
                                <span class="tag is-info">Symfony, Phalcon</span>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Javascript</span>
                                <span class="tag is-success">NodeJS</span>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Python</span>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Databases</span>
                                <span class="tag is-success">Mysql, MongoDB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <figure class="image image is-128x128">
                        <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/7681951?s=460&v=4">
                    </figure>
                </div>
                <div class="column has-text-grey-light has-text-right-in-desktop">
                    <p class="has-text-weight-light">Belgium, France or remote</p>
                    <p class="has-text-weight-light">romainnorberg@gmail.com</p>
                    <div class="social-icon">
                        <a href="https://twitter.com/romainnorberg" class="twitter" title="Twitter">
                            @romainnorberg
                            <svg viewBox="0 0 512 512" height="2rem" width="2rem">
                                <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/romainnorberg" class="linkedin" title="Linkedin">
                            in/romainnorberg
                            <svg viewBox="0 0 512 512" height="2rem" width="2rem">
                                <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://github.com/romainnorberg" class="github" title="Github">
                            romainnorberg
                            <svg viewBox="0 0 512 512" height="2rem" width="2rem">
                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hr"></div>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    <div class="summary">
                        <div class="title is-size-5 has-text-primary has-text-weight-bold">About me</div>
                        <div class="wrapper">
                            <p>During the last 6 years, I have had the honor to work for a large number of companies,
                                based in Belgium or France, as a web developer.</p>
                            <p>I work mainly with modern tools and frameworks such as Symfony, NodeJS, Python, ... I
                                also take care of setting up hosting (Cloud or dedicated servers as needed).</p>

                            <p>I pay a particular attention to the quality of the code but also to the performances (of
                                the development to the putting in production but also a long-term accompaniment)</p>

                            <p>As a full stack web developer, I have the experience and knowledge to create an effective
                                MVP and quickly experience a new project idea on the market.</p>
                        </div>
                    </div>
                    <div class="experience">
                        <div class="title is-size-5 has-text-primary has-text-weight-bold">Experience</div>
                        <div class="item">
                            <div class="is-size-5"><b>Make Me Win,</b>
                                <span class="has-text-weight-semi-bold">France (Paris) — <i>Lead Developer / RGPD Manager</i></span>
                            </div>
                            <div class="is-size-7">MAR 2018 - Present</div>
                            <ul style="list-style:disc;margin-left:1em">
                                <li>Migrate symfony from 2.8 to 3.4 to 4.x (webpack, migration,...)</li>
                                <li>Implementation of Unit Testing, Integration Testing and Functional Testing (Travis
                                    CI)
                                </li>
                                <li>Development of drivers to connect to partner API's (Magento, NetEvent, Shopify,
                                    Salesforce (OCAPI), Google Content API, Google Reporting API, Prestashop, Adroll,
                                    Facebook...)
                                </li>
                                <li>Code optimization, performance improvement</li>
                                <li>Development of new features</li>
                                <li>Addition of monitoring tools (Newrelic, Datadog, Papertrail, ...)</li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="is-size-5"><b>Look&Fin,</b> <span class="has-text-weight-semi-bold">Belgium (Brussels) — <i>Developer, System administrator</i></span>
                            </div>
                            <div class="is-size-7">FEB 2018 - Present</div>
                            <ul style="list-style:disc;margin-left:1em">
                                <li>Migration from cloud to dedicated (yes!)</li>
                                <li>Migrate symfony from 2.8 to 3.4 (webpack, migration,...) -> 4.x in progress</li>
                                <li>Implementation of Unit Testing, Integration Testing and Functional Testing (Travis
                                    CI)
                                </li>
                                <li>Development of new features</li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="is-size-5"><b>Vanbe SPRL,</b> <span class="has-text-weight-semi-bold">Belgium — <i>Software Development Engineer</i></span>
                            </div>
                            <div class="is-size-7">SEP 2015 - JUL 2017</div>
                            <ul style="list-style:disc;margin-left:1em">
                                <li>[CakePhp 2.9/php] Development and update of existing modules for a customer CRM
                                    solution
                                </li>
                                <li>[Sphinx Search] Configuration help, slow query optimization, ...</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="projects">
                        <div class="title is-size-5 has-text-primary has-text-weight-bold">Projects</div>
                        <div class="item">
                            <div class="is-size-7">
                                <b>Open source contributions:</b>
                            </div>
                            <div>
                                <ul style="list-style:disc;margin-left:1em">
                                    <li><strong>whiteoctober/Pagerfanta</strong> Pagination for PHP.
                                        <a href="https://github.com/whiteoctober/Pagerfanta" target="_blank">
                                            <svg viewBox="0 0 512 512" height="1rem" width="1rem">
                                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><strong>smhg/sepa-qr-php</strong> Generate QR codes for SEPA payments.
                                        <a href="https://github.com/smhg/sepa-qr-php" target="_blank">
                                            <svg viewBox="0 0 512 512" height="1rem" width="1rem">
                                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><strong>spatie/phpunit-snapshot-assertions</strong> A way to test without
                                        writing actual test cases
                                        <a href="https://github.com/spatie/phpunit-snapshot-assertions" target="_blank">
                                            <svg viewBox="0 0 512 512" height="1rem" width="1rem">
                                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                                            </svg>
                                        </a>
                                        <span class="bd-footer-link-icon has-text-danger">
      <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="1rem" width="1rem" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
    </span>
                                    </li>
                                    <li><strong>spatie/phpunit-watcher</strong> A tool to automatically rerun PHPUnit
                                        tests when source code changes
                                        <a href="https://github.com/spatie/phpunit-watcher" target="_blank">
                                            <svg viewBox="0 0 512 512" height="1rem" width="1rem">
                                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                                            </svg>
                                        </a>
                                        <span class="bd-footer-link-icon has-text-danger">
      <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="1rem" width="1rem" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
    </span>
                                    </li>
                                    <li><strong>simshaun/recurr</strong> PHP library for working with recurrence rules
                                        (RRULE); meant to help with recurring calendar events.
                                        <a href="https://github.com/simshaun/recurr" target="_blank">
                                            <svg viewBox="0 0 512 512" height="1rem" width="1rem">
                                                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="skills">
                        <div class="title is-size-5 has-text-primary has-text-weight-bold">Skills</div>
                        <div class="wrapper">
                            <div class="item">
                                <div>Symfony (1.4, 2.x, 3.x, 4.x)</div>
                                <progress class="progress is-primary is-small" value="90" max="100">90%</progress>
                            </div>
                            <div class="item">
                                <div>Laravel</div>
                                <progress class="progress is-primary is-small" value="10" max="100">10%</progress>
                            </div>
                            <div class="item">
                                <div>Phalcon</div>
                                <progress class="progress is-primary is-small" value="40" max="100">40%</progress>
                            </div>
                            <div class="item">
                                <div>Php</div>
                                <progress class="progress is-primary is-small" value="90" max="100">90%</progress>
                            </div>
                            <div class="item">
                                <div>NodeJS</div>
                                <progress class="progress is-primary is-small" value="70" max="100">70%</progress>
                            </div>
                            <div class="item">
                                <div>Python</div>
                                <progress class="progress is-primary is-small" value="30" max="100">30%</progress>
                            </div>
                            <div class="item">
                                <div>Mysql</div>
                                <progress class="progress is-primary is-small" value="80" max="100">80%</progress>
                            </div>
                            <div class="item">
                                <div>ElasticSearch</div>
                                <progress class="progress is-primary is-small" value="40" max="100">40%</progress>
                            </div>
                            <div class="item">
                                <div>MongoDB</div>
                                <progress class="progress is-primary is-small" value="40" max="100">40%</progress>
                            </div>
                            <div class="item">
                                <div>Git/Github</div>
                                <progress class="progress is-primary is-small" value="80" max="100">80%</progress>
                            </div>
                            <div class="item">
                                <div>Heroku</div>
                                <progress class="progress is-primary is-small" value="70" max="100">70%</progress>
                            </div>
                            <div class="item">
                                <div>Travis CI</div>
                                <progress class="progress is-primary is-small" value="70" max="100">70%</progress>
                            </div>
                            <div class="item">
                                <div>Redis</div>
                                <progress class="progress is-primary is-small" value="60" max="100">60%</progress>
                            </div>
                            <div class="item">
                                <div>CSS</div>
                                <progress class="progress is-primary is-small" value="60" max="100">60%</progress>
                            </div>
                            <div class="item">
                                <div>Bootstrap</div>
                                <progress class="progress is-primary is-small" value="70" max="100">70%</progress>
                            </div>
                        </div>
                        <hr>
                        <p><strong>And also: </strong><i>Blackfire, Symfony Cloud, Clever Cloud, OVH, ...</i></p>
                    </div>
                    <div class="languages">
                        <div class="title is-size-5 has-text-primary has-text-weight-bold">Languages</div>
                        <div class="wrapper">French, English</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="section-header has-text-centered">
                    <h2 class="title is-1 is-spaced"> Don't be shy, say hi! </h2>
                </div>
                <div class="section-body has-text-centered">
                    <a class="button is-default is-medium" href="mailto:romainnorberg@gmail.com">Get in touch</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
