<div class="container px-4 md:px-0 max-w-6xl mx-auto pt-16">
    <div class="mx-0 sm:mx-6">
        <!--Author-->
        <div class="flex w-full items-center font-sans p-8 md:p-24">
            <img class="w-10 h-10 rounded-full mr-4" src="https://1.gravatar.com/avatar/1407db0f6593b9eb2a4baf370b0f07eb?s=300&d=mm" alt="Romain Norberg">
            <div class="flex-1">
                <p class="text-base font-bold text-base md:text-xl leading-none">Romain Norberg</p>
                <p class="text-gray-600 text-xs md:text-base">
                    Php developer, play with Symfony and PhalconPhp frameworks.<br>
                    More on <a href='https://www.linkedin.com/in/romainnorberg' target='_blank'>LinkedIn</a> or
                    <a href='https://github.com/romainnorberg' target='_blank'>Github</a>
                </p>
            </div>
            <div class="justify-end">
                <a class="bg-transparent border border-gray-500 hover:border-teal-500 text-xs text-gray-500 hover:text-teal-500 font-bold py-2 px-4 rounded-full" href="https://{{ root_domain }}" target="_blank">
                    Read More
                </a>
            </div>
        </div>
        <!--/Author-->
    </div>
</div>

<footer class="bg-gray-900">
    <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">
        <div class="w-full mx-auto flex flex-wrap items-center">
            <div class="flex mx-auto justify-center md:justify-start text-white font-extrabold">
                <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="https://{{ root_domain }}" target="_blank">
                    <img class='logo' src='{{ asset('build/images/logo-romainnorberg.svg') }}' style="width:10em;"/>
                </a>
            </div>
        </div>
    </div>
</footer>
